@*@model VALCOBulkSMSAlertSystem.Models.UserSettings

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserSettings</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@

@model VALCOBulkSMSAlertSystem.Areas.Identity.Data.VALCOUser

<h1>User Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Username:</dt>
        <dd class="col-sm-10">@Model.UserName</dd>
        <dt class="col-sm-2">Email:</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Phone Number:</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
    </dl>

    <form asp-action="Details">
        <input type="hidden" asp-for="Id" />

        <div class="form-group">
            <a asp-action="Index" class="btn btn-secondary">Users</a>
        </div>
    </form>
</div>
